body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #34B7F1;
}

.chat-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 2vw;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    border-radius: 5px;
    width: 300px;
}

.chat-header {
    background-color: #075E54;
    color: white;
    padding: 2px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    font-size: 25px;
}

.close-btn {
    cursor: pointer;
    margin-left: 8px;
}

.chat-body {
    max-height: 200px;
    padding: 10px;
    overflow: none;
}

.message {
    background-color: #e0f7fa;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;

}

.chat-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #34B7F1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#user-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: none;

}

#send-btn {
    padding: 8px;
    background-color: #075E54;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
}

#send-btn:hover {
    background-color: #05796b;
}

.btn-container {
    padding: 6px;
    background-color: #25D366;
    position: fixed;
    bottom: 20px;
    right: 2vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px;
}

.chat-btn {
    padding: 12px;
    background-color: #075E54;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: background-color 0.1s ease, transform 0.1s ease;
    font-weight: 600;
    font-size: 12px;
}

.chat-btn:hover {
    background-color: #05796b;
}

.chat-btn.active {
    transform: scale(1.05);
}

#whatsapp-popup {
    display: none;
    position: fixed;
    top: 40vh;
    right: 20px;
    bottom: 10vw;
    background-color: rgb(32, 178, 122);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    color: #03352f;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 2vw;
    text-align: center;
    overflow: auto;
}